#container {
  width: 40rem;
  height: 25rem;
  min-width: 300px;
  display: flex;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  height: 100vh;
  background-color: rgb(155, 110, 160);
  row-gap: 2rem;
}

h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button {
  background-color: rgb(255, 255, 148);
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  border: none;
  border-radius: 8px;
}

#image {
  width: 256px;
  height: 254px;
}

#button2 {
  background-color: rgb(213, 32, 59);
}

.button2,
.absolute {
  background-color: rgb(213, 32, 59);
  position: absolute;
  left: 10rem;
  top: 20rem;
}

.minimizedBtn,
.changePos {
  background-color: rgb(213, 32, 59);
  position: absolute;
  left: 25rem;
  top: 5rem;
}
